<span class='container'>
  <span class='index-container d-block d-inline-block'>
    <div class="text-color-white">
      <h2>プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
        <h4>画像</h4>
        <div class="form-group justify-content-center">
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '40%' %>
          <%= f.attachment_field :profile_image, class: 'form-control-file btn edit-link' %>
          <h2>↓</h2>
          <div class=""><img id="preview" style="width:40%;"></div>
        </div>
        <h4>ユーザーネーム</h4>
        <div class="form-group">
          <%= f.text_field :name, autofocus: true, id:"inputName", class:"form-control" %>
        </div>
        <%= f.submit 'Tweet', class:"btn btn-primary" %>
      <% end %>
    </div>
  </span>
</span>

<script>
  $('#user_profile_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>