<span class='container'>
  <span class='index-container d-block d-inline-block'>
    <div class="mt-3"><%= paginate post_images %></div>
    <span class="d-flex flex-wrap justify-content-center">
      <% post_images.each do |post_image| %>
      <div class="card d-inline-block m-2">
        <div>
          <%= link_to post_image_path(post_image.id) do %>
            <div class="card-image-top">
              <%= attachment_image_tag post_image, :image, class:"img" %>
            </div>
          <% end %>
          <div class="card-body">
            <div class="d-inline-block mb-2">
              <i class="far fa-heart"><%= post_image.likes_count %></i>
              <i class="far fa-comment"><%= post_image.post_comments.count %></i>
            </div>
            <div class="card-title">
              <%= link_to user_path(post_image.user), class:"edit-link text-color-black" do %>
              <div class="d-inline-block">
                <%= attachment_image_tag post_image.user, :profile_image, :fill, 40, 40, fallback: asset_path("no_image.jpg"), size: '40x40' %>
              </div>
              <div class="d-inline-block font-weight-bold">
                <%= post_image.user.name %>
              </div>
              <% end %>
            </div>
            <div>
              <p class="card-text", style="border: solid; border-radius:10px; padding: 5px; margin: 5px;"><%= post_image.share_comment%></p>
            </div>
            <div class="card-tag">
              <% post_image.tags.each do |tag| %>
                <%= link_to search_path(search: tag.hash_tag), class:"edit-link text-color-black" do %>
                  <p class="card-tag-link d-inline-block", style="border: solid 1px; border-radius:5px; padding: 5px; margin: 5px;"><%= tag.hash_tag %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </span>
    <div class="mt-2"><%= paginate post_images %></div>
  </span>
</span>